@import url('https://fonts.googleapis.com/css?family=Martel:600|Passion+One:700');

* {
	box-sizing: border-box;
}
html {
	background-color: white;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
p {
	font-family: 'Martel', serif;
}

/* nav */
.nav_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: black;
	font-size: 1.7em;
}
.nav_wrap a {
	text-decoration: none;
	color: white;
	font-family: 'Passion One', cursive;
}

/*HOVER EFFECTS START*/
.nav_wrap div {
	margin: 1.25rem 0;
	position: relative;
}
.nav_wrap .resume::after {
	content: '';
	display: block;
	height: 5px;
	width: 0%;
	background-color: #5C946E;
	position: absolute;
	transition: all 100ms ease-in-out;
}
.nav_wrap .art::after {
	content: '';
	display: block;
	height: 5px;
	width: 0%;
	background-color: #90A955;
	position: absolute;
	transition: all 100ms ease-in-out;
}

/*#63B4D1 - color for contact */
.logo a {
	position: relative;
}
.logo h1::after {
	content: '';
	display: block;
	height: 5px;
	width: 0%;
	background-color: #FFF;
	position: absolute;
	transition: all 250ms ease-in-out;
}
.logo h1:hover::after {
	width: 100%;
}
.nav_wrap .resume:hover::after {
	width: 100%;
}
.nav_wrap .art:hover::after {
	width: 100%;
}
.nav_wrap .contact:hover::after {
	width: 100%;
}
.icon_container {
	position: absolute;
	width: 100%;
	top: 0;
	height: 30vw;
	display: flex;
	justify-content: left;
	flex-direction: row-reverse;
	margin-top: .5rem;
}
.icon img {
	max-width: 100%;
	max-height: 100%;
}
.icon {
	width: 2.7rem;
	height: 2.7rem;
	margin-top: .2rem;
	margin-left: .2rem;
	margin-right: .1rem;
}
.icon_border {
	background-color: black;
	height: 2.1rem;
}

/*HOVER EFFECTS END*/

/* homepage */

#main_content {
	padding: 2em;
	display: flex;
	justify-content: center;
}
#main_content p {
	text-indent: 10%;
	color: black;
	font-family: 'Martel', serif;
	text-align: left;
	line-height: 1.4em;
	max-width: 50rem;
}

/* general */
.logo {
	text-align: center;
	height: 30vw;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../graphics/forest.jpg);
}
.logo h1 {
	margin: 0 auto;
}
.logo a {
	font-size: 1.7em;
	color: white;
	font-family: 'Passion One', cursive;
	text-decoration: none;
}
.footer {
	text-align: center;
}

/* artwork page */
#port_wrap a div img {
	width: 85%;
}
#port_wrap {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 1rem 0 1rem 0;
}
.port_items p {
	margin: 2rem 0 2rem 0;
	margin-left: 1rem;
	margin-right: 1rem;
}
.top_line {
	width: 100%;
	height: .8rem;
	margin: .7rem 0 .7rem 0;
	background-color: #D84469;
}
.bottom_line {
	width: 100%;
	height: .8rem;
	margin: .7rem 0 3rem 0;
	background-color: #D84469;
}
.top_line1 {
	width: 100%;
	height: .8rem;
	margin: .7rem 0 .7rem 0;
	background-color: #373A46;
}
.bottom_line1 {
	width: 100%;
	height: .8rem;
	margin: .7rem 0 3rem 0;
	background-color: #373A46;
}
.top_line2 {
	width: 100%;
	height: .8rem;
	margin: .7rem 0 .7rem 0;
	background-color: #87A9C4;
}
.bottom_line2 {
	width: 100%;
	height: .8rem;
	margin: .7rem 0 3rem 0;
	background-color: #87A9C4;
}
.top_line3 {
	width: 100%;
	height: .8rem;
	margin: .7rem 0 .7rem 0;
	background-color: #DD611B;
}
.bottom_line3 {
	width: 100%;
	height: .8rem;
	margin: .7rem 0 3rem 0;
	background-color: #DD611B;
}

/* resume page */
.r_headers h3 {
	font-family: 'Martel', serif;
	font-size: 1.3em;
	color: white;
	margin-top: .2rem;
	margin-left: .8rem;
}
.r_headers {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: black;
	height: 3rem;
	width: 100%
}
.r_contents {
	text-indent: 0.6em;
	margin: .7rem 0 .7rem 0;
	padding: .8rem;
	color: black;
	font-family: sans-serif;
}
.r_contents ul li {
	list-style-type: none;
	line-height: 1.3em;
	font-family: 'Martel', serif;
}
.r_container {
	margin: 1.5625rem 0 1.5625rem 0;
	padding: 0;
}
.footer p {
	font-family: 'Martel', serif;
	font-size: .8em;
	color: white;
	padding-left: 2rem;
	text-align: left;
}
.footer {
	background-color: black;
	height: 1.875rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
@media screen and (min-width:768px) {
	.icon_container {
		margin-top: .5rem;
	}
	.icon_border {
		height: 3rem;
	}
	.nav_wrap {
		flex-direction: row;
		justify-content: center;
		padding: 1rem 0 1rem 0;
	}
	.nav_wrap div {
		font-size: 1.8em;
		margin: 0 3rem 0 3rem;
	}

	/* general */
	.logo {
		text-align: center;
	}
	.logo a {
		font-size: 2em;
	}
	.footer {
		text-align: center;
	}

	/* homepage */
	#main_content {
		padding: 4em;
	}
	#main_content p {
		text-indent: 10%;
		font-size: 1.7em;
	}
	.icon {
		width: 4rem;
		height: 4rem;
		margin-left: .2rem;
	}

	/* resume page */
	.r_headers h3 {
		font-size: 2em;
		margin-left: 1rem;
	}
	.r_headers {
		height: 4rem;
	}
	.r_contents ul li {
		text-indent: 1em;
		font-size: 1.5em;
	}

	/* art page */
	#port_wrap p {
		font-size: 1.5em;
	}
	.port_items p {
		margin: 2.5rem 0 2.5rem 0;
		margin-left: 1rem;
		margin-right: 1rem;
	}
}
@media screen and (min-width:960px) {

	/* general */
	.icon_border {
		height: 3.25rem;
	}
	.logo {
		text-align: center;
	}
	.logo a {
		font-size: 2.5em;
	}
	.nav_wrap {
		flex-direction: row;
		justify-content: center;
		width: 600px;
		font-size: 1.7em;
		margin: 0 auto;
		width: 100%;
	}
	.nav_wrap div {
		margin: 0 3rem 0 3rem;
	}
	.footer {
		text-align: center;
	}
	.icon {
		width: 4.5rem;
		height: 4.5rem;
		margin-left: .35rem;
	}

	/* home page */
	#main_content {
		padding: 4em;
	}
	#main_content p {
		text-indent: 10%;
		font-size: 1.75em;
	}

	/* resume page */
	.r_headers {
		display: flex;
	}
	.r_headers h3 {
		font-size: 2.1em;
	}
	.r_contents ul li {
		margin-left: .5em;
		font-size: 1.2em;
	}

	/* art page */
	#port_wrap p {
		font-size: 1.5em;
	}
	.port_items {
		width: 100%;
	}

	/*HOVER EFFECTS*/
	.nav_wrap div {
		position: relative;
	}
	.nav_wrap .resume a::after {
		content: '';
		display: block;
		height: 5px;
		width: 0%;
		background-color: #5C946E;
		position: absolute;
		transition: all 250ms ease-in-out;
	}
	.nav_wrap .art a::after {
		content: '';
		display: block;
		height: 5px;
		width: 0%;
		background-color: #90A955;
		position: absolute;
		transition: all 250ms ease-in-out;
	}
	.nav_wrap .resume a:hover::after {
		width: 100%;
	}
	.nav_wrap .art a:hover::after {
		width: 100%;
	}
	.logo a {
		position: relative;
	}
	.logo h1::after {
		content: '';
		display: block;
		height: 5px;
		width: 0%;
		background-color: #FFF;
		position: absolute;
		transition: all 250ms ease-in-out;
	}
	.logo h1:hover::after {
		width: 100%;
	}
}